{% extends 'common/base.html' %}

{% block content %}
<!--(tr>td#pln$-$*2)*7-->
{% for i in "abcdefghijklmnopqrstuvwx" %}
    {% for j in "abcdefg" %}
        <table class="table-bordered">
            <tr>
                <td colspan="2">1</td>
            </tr>
            <tr>
                <td id="p{{ forloop.counter }}-1">plan</td>
                <td id="r{{ forloop.counter }}-1">result</td>
            </tr>
            <tr>
                <td id="p{{ forloop.counter }}-2">plan</td>
                <td id="r{{ forloop.counter }}-2">result</td>
            </tr>
            <tr>
                <td id="p{{ forloop.counter }}-3">plan</td>
                <td id="r{{ forloop.counter }}-3">result</td>
            </tr>
            <tr>
                <td id="p{{ forloop.counter }}-4">plan</td>
                <td id="r{{ forloop.counter }}-4">result</td>
            </tr>
            <tr>
                <td id="p{{ forloop.counter }}-5">plan</td>
                <td id="r{{ forloop.counter }}-5">result</td>
            </tr>
            <tr>
                <td id="p{{ forloop.counter }}-6">plan</td>
                <td id="r{{ forloop.counter }}-6">result</td>
            </tr>
        </table>
    {% endfor %}
{% endfor %}
{% endblock %}